.about-section{
    margin-top:91px;

    h2{
        @include h1;
        margin-bottom:1.4rem;

        @include sp{
            font-size:28px;
        }
    }

    .sub-text{
        position:relative;

        @include sp{
            line-height:1.2;
        }

        //line
        &:before{
            content:'';
            width:142px;
            height:6px;
            border-radius: 20px;
            background-color:$secondary;
            position:absolute;
            top:calc(50% - 3px);
            right:calc(100% + 20px);

            @include sp{
                display:none;
            }
        }
    }

    p[class="sub-text"]{
        margin-bottom:1.625rem;
    }

    p:not([class]){
        margin-bottom:1.55rem;
    }
}

.about-section--profits{
    margin-top:66px;

    @include sp{
        margin-top:114px;
    }

    .sub-text{
        //remove line
        &:before{
            display:none;
        }
    }

    .about-section__inner{        
        @include sp{
            padding:0 8px;
            background-color: transparent;
        }
    }

    .about-section__content{
        padding:0 30px;

        @include sp{
            margin-top:27px;
            padding:0 15px;
        }

        h2{
            margin-top:-5px;
            margin-bottom:1rem;
        }

        ul{
            list-style: none;
            padding:0;
        }

        p ~ ul{            
            margin-top:-1.55rem;
            margin-bottom:21px;
        }
        
        strong{
            color:$primary;
            font-weight:$semibold;
        }

        .sub-text{
            margin-bottom:1.47rem;

            @include sp{
                padding-right:40%;
            }
        }
    }

    .about-section__image{
        flex:0 0 540px;
    }

    .about-section__image img{
        @include sp{
            object-position:center top;
            height:213px;
        }
    }
}

.about-section__inner{
    display:flex;
    border-radius:20px;    
    background-color: $bg-light;

    @include sp{
        display:block;
    }   
}

.about-section__image{
    border-radius:20px;
    overflow:hidden;
    flex:0 0 445px;
}

.about-section__image img{
    object-fit:cover;
    width:100%;
    height:auto;

    @include sp{
        object-position:center -10vw;
        height:291px;
    }
}

.about-section__content{
    padding:63px 62px 0 61px;

    @include sp{
        padding:63px 15px 39px;
    }
}