.about-section{
    margin-top:91px;

    h2{
        @include h1;
        margin-bottom:1.4rem;

        @include sp{
            font-size:28px;
        }
    }

    .sub-text{
        position:relative;

        @include sp{
            line-height:1.2;
        }

        //line
        &:before{
            content:'';
            width:142px;
            height:6px;
            border-radius: 20px;
            background-color:$secondary;
            position:absolute;
            top:calc(50% - 3px);
            right:calc(100% + 20px);

            @include sp{
                display:none;
            }
        }
    }

    p[class="sub-text"]{
        margin-bottom:1.625rem;
    }

    p:not([class]){
        margin-bottom:1.55rem;
    }
}

.about-section__inner{
    display:flex;
    border-radius:20px;    
    background-color: $bg-light;

    @include sp{
        display:block;
    }

    > *{
        &:first-child{
            flex:0 0 445px;
        }
    }
}

.about-section__image{
    border-radius:20px;
    overflow:hidden;
}

.about-section__image img{
    object-fit:cover;
    width:100%;
    height:auto;

    @include sp{
        object-position:center -10vw;
        height:291px;
    }
}

.about-section__content{
    padding:63px 62px 0 61px;

    @include sp{
        padding:63px 15px 39px;
    }
}