.button{
    display:inline-flex;
    background-color: $secondary;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    padding: 14px 28px;
    font-size:14px;
    font-weight:$semibold;
    color:$text-light;
    transition:
        background-color 0.25s ease-out,
        color 0.25s ease-out;

    @include sp{
        display:flex;
    }
    
    &:hover{
        text-decoration: none;
        color:$text-light;
        background-color:$primary;
    }
}

.button--secondary{
    background-color:$bg-light;
    color:$text-dark;
    border:1px solid #000;
    padding: 16px 46px;
    transition:
        border-color 0.25s ease-out,
        color 0.25s ease-out;

    &:hover{
        text-decoration: none;
        color:$text-dark;
        border-color:$secondary;
        background-color: $bg-light;
        color:$secondary;
    }
}

.button--book{
    padding:15px 31px;
}

.button--arrow{
    padding: 14px 42px;

    i{
        margin-left:19px;
        transition:transform 0.25s ease-out;
    }

    &:hover i{
        transform:translateX(10px);
    }
}

.button--footer-book{
    padding: 14px 34px;
}