.contact-section{
    p{
        font-size:20px;
        font-weight:$medium;

        &:last-of-type{
            display:inline;
        }
    }
}

.contact-section__content{
    display:flex;
}

.contact-section__text{
    padding:50px 145px 50px 0;
}

.contact-section__form{
    background-color:$bg-light;
    border-radius:20px;
    flex:0 0 632px;
}

.contact-section__tel{
    font-size:20px;
    font-weight:$medium;
    text-decoration: underline;

    &:hover{        
        color:$primary;
    }
}