.footer{
    background-color:$primary;
    padding:100px 0;

    //tel and email hover
    a[href*="tel"],
    a[href*="mailto"]{
        position:relative;

        //underline        
        &:after{
            content:'';
            width:100%;
            height:1px;
            background:currentColor;
            position:absolute;
            bottom:0;
            left:0;
            transform-origin:left;
            transform:scaleX(0);
            transition:transform 0.25s ease-out;
        }

        &:hover{
            &:after{
                transform:none;
            }
        }
    }
}

.footer__container{
    display:flex;
    justify-content: space-between;

    @include sp{
        display:block;
    }

    > *{        
        &:nth-child(1){
            flex:0;
        }
    }
}

.footer__logo img{
    object-fit: contain;
    width:253px;
    height:auto;

    @include sp{
        width:100%;
    }
}

.footer__cert-list{
    list-style-type: none;
    padding:0;
    display:flex;
    margin-top:45px;

    @include sp{
        margin:50px -12px;
    }

    li{
        @include sp{
            flex:0 0 25% !important;
            padding:0 12px;
        }

        &:not(:first-child){
            margin-left:29px;

            @include sp{
                margin-left:0;
            }
        }

        &:nth-child(1){
            flex:0 0 76px;
        }
        &:nth-child(2){
            flex:0 0 67px;
        }
        &:nth-child(3){
            flex:0 0 72px;
        }
        &:nth-child(4){
            flex:0 0 72px;
        }
    }

    img{
        object-fit:contain;
        object-position:top;
        width:100%;
        height:auto;
    }
}

.footer__contact{
    color:$text-light;
    display:flex;
    margin-top:-8px;
    margin-right:62px;

    @include sp{
        display:block;
    }

    dl:not(:first-child){
        margin-left:68px;

        @include sp{
            margin-left:0;
        }
    }

    dt{
        @include body-text-semi;

        @include sp{
            font-size:18px;
        }
    }

    dd{
        margin-top:5px;
    }

    dd *{
        padding:0;
        margin:0;        
    }

    a{
        color:$text-light;

        &:hover{
            text-decoration:none;
        }
    }
}

.footer__book{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    color:$text-light;
    margin-top:15px;
    margin-right:45px;

    @include sp{
        margin:0;
    }

    @include sp{
        display:block;
    }

    p{
        margin:0;

        @include sp{
            font-size:18px;
        }
    }

    .button.button--footer-book{
        margin-left:35px;

        @include sp{
            margin-left:0;
            margin-top:10px;
            max-width:223px;
        }

        &:hover{
            text-decoration: none;
            color:$primary;
            background-color:#fff;
        }
    }
}