.form .gform_wrapper.gravity-theme{
    input:not([type="submit"]),
    textarea{
        background-color:transparent;
        border:0;
        border-bottom:1px solid #000;
        padding-left:0;

        &:focus{
            outline:0;
        }

        &::placeholder{
            color:$primary;
            font-size:16px;
            font-weight:$medium;
        }
    }

    input[type="submit"]{
        border:0;
        padding: 10px 97px;
    }
}