.hero{
    position:relative;

    h1{
        @include sub-text;
    }

    p{
        @include body-text;
    }
}

.hero--profits{
    h1{
        @include h2;
    }

    .hero__content{
        bottom:0;
        border-radius:20px 20px 0 0;
        padding:23px 36px 4px;
    }
}

.hero > img{
    object-fit: cover;
    width:100%;

    @include media-breakpoint-down(lg){        
        height:260px;
    }
}


.hero__content{
    background-color:$bg-light;
    border-radius:20px;
    position:absolute;
    bottom:67px;
    padding:23px 36px 4px 30px;

    @include sp{
        position:static;
        background-color:transparent;
        padding:23px 0 4px;
    }

    .sub{
        margin-bottom:6px;
    }

    .body-text{
        margin-bottom:0;
    }
}

.hero__icon{
    position:absolute;
    bottom:calc(100% - 30px);
    left:50%;
    transform:translateX(-50%);
}

.hero__icon > img{
    object-fit: contain;
    width:162px;
    height:auto;
}

.hero__buttons{
    display:flex;
    align-items:center;
    list-style-type:none;
    padding:0;
    margin-top:12px;

    @include sp{
        display:block;
    }
    

    > *:first-child{
        margin-right:1rem;

        @include sp{
            margin-right:0;
            margin-bottom:15px;
        }
    }
}