.ideal-section{
    margin:75px auto;
    color:$primary;

    h2{
        @include h1;
        margin-bottom:0.6rem;

        @include sp{
            font-size:28px;
        }
    }

    .sub-text{
        margin-bottom:2.15rem;
    }
}

.ideal-section__content{
    text-align:center;
    color:$primary;
    padding:0 60px;

    @include sp{
        text-align:left;
        padding:0;
    }
}

.ideal-section__list{
    list-style-type: none;
    padding:0;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin:-40px 0;
    margin-top:44px;

    @include sp{
        display:block;
        margin:-20px auto;
        margin-top:24px;
        width:276px;
    }
}

.ideal-section__list-item{
    //border:1px solid blue;
    flex:0 0 33.33333%;
    text-align:center;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    padding:40px 0;

    @include sp{
        padding:20px 0;
    }
}

.ideal-section__card{
    > *{
        //border:1px solid red;
    }

    p{
        @include sub-text;
        color:#000;
        margin-top:20px;
    }
}