.ideal-section{
    margin:75px auto;

    h2{
        @include h1;
        margin-bottom:0.6rem;
    }

    .sub-text{
        margin-bottom:2.15rem;
    }
}

.ideal-section__content{
    text-align:center;
    color:$primary;
    padding:0 60px;
}

.ideal-section__list{
    list-style-type: none;
    padding:0;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin:-40px 0;
    margin-top:44px;
}

.ideal-section__list-item{
    //border:1px solid blue;
    flex:0 0 33.33333%;
    text-align:center;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    padding:40px 0;
}

.ideal-section__card{
    > *{
        //border:1px solid red;
    }

    p{
        @include sub-text;
        color:#000;
        margin-top:20px;
    }
}