.inner-catch-section{
    margin:60px auto;

    h2{
        @include sp{
            font-size:25px;
        }
    }

    p{
        @include sub-text;
    }

    .button.button--book{
        padding:13px 46px;
        margin-top:36px;
    }
}

.inner-catch-section__content{
    background-color:$bg-light;
    border-radius: 20px;
    position:relative;
    padding:55px 50px 34px;
    text-align: center;

    @include sp{
        padding:55px 22px 34px;
        text-align: left;
    }
}