.main-catch-section{
    margin-top:92px;

    h2, p{
        color:$text-light;
        text-align:center;

        @include sp{
            text-align:left;
        }
    }

    h2{
        margin-bottom:0.8rem;

        @include sp{
            font-size:25px;
        }
    }

    p{
        @include sub-text;
        color:$text-light;
    }
}

.main-catch-section img{
    object-fit:contain;
    width:548px;
    height:124px;
    margin:0 auto;
    display:block;

    @include sp{
        width:100%;
        height:auto;
    }
}

.main-catch-section__content{
    background-color:$bg-highlight;
    border-radius: 20px;
    position:relative;
    padding:55px 97px 24px;
    margin-top:131px;

    @include sp{
        padding:55px 15px 24px;
    }

    //line
    &:before{
        content:'';
        width:6px;
        height:118px;
        position:absolute;
        bottom:calc(100% - 26px);
        left:50%;
        background-color:$secondary;
        border-radius:20px;

        @include sp{
            width:3px;
        }
    }
}