.nav.navbar{
    .nav-link{
        font-weight:$medium;
    }

    .menu-item.active .nav-link{
        position:relative;
        font-weight:$bold;

        //underline
        &:after{
            content:'';
            width:calc(100% - 2rem);
            height:2px;
            background-color:$secondary;
            position:absolute;
            left:1rem;
            bottom:calc(0.5rem - 3px);
            transform:scaleX(0.7);
            transform-origin:left;
        }
    }
}

.nav__cta{
    margin-left:calc(46px - 1rem);
}