.profits-section{
    margin:172px 0 62px;

    @include sp{
        margin:53px 0 62px;
    }

    h2{
        @include h1;
        position:relative;
        display:inline-block;
        margin-bottom:2.2rem;

        @include sp{
            display:inline;
            font-size:28px;
            line-height:1.219;
        }

        //line
        &:after{
            content:'';
            width:172px;
            height:6px;
            background-color:$secondary;
            position:absolute;
            left:calc(100% + 23px);
            top:calc(50% + 5px);

            @include sp{
                width:100px;
                height:3px;                
                left:inherit;
                top:inherit;
                left:calc(100% + 15px);
                bottom:13px;                
            }
        }
    }
}

.profits-section ul{
    list-style-type: none;
    display:flex;
    padding:0;
    margin:-15px;

    @include sp{
        display:block;
        margin:-50px 0;
    }

    > *{
        flex:0 0 50%;
        padding:15px;

        @include sp{
            padding:50px 0;
        }

        &:first-child{
            margin-top:141px;

            @include sp{
                margin-top:100px;
            }
        }
    }
}

.profits-section__heading{    
    @include sp{
        padding:0 20px;
        overflow:hidden;
    }
}