.profits-section{
    margin-top:91px;

    h2{
        @include h1;
        position:relative;
        display:inline-block;        
        margin-bottom:2.2rem;

        //line
        &:after{
            content:'';
            width:172px;
            height:6px;
            background-color:$secondary;
            position:absolute;
            left:calc(100% + 23px);
            top:calc(50% + 5px);
        }
    }
}

.profits-section{
    padding:100px 0;
}

.profits-section ul{
    list-style-type: none;
    display:flex;
    padding:0;
    margin:-15px;

    > *{
        flex:0 0 50%;
        padding:15px;

        &:first-child{
            margin-top:141px;
        }
    }
}