.testimonial-card{        
    blockquote{
        @include sub-text;
    }

    figcaption{
        display:flex;
        align-items: center;
        margin-top:26px;
    }

    figcaption img{
        object-fit: cover;
        width:68px;
        height:68px;
        border-radius:50%;
        overflow:hidden;        
    }

    figcaption > div{
        margin-left:19px;
        margin-top:2px;

        > *{
            display:block;
        }
    }
}