.testimonial-section{
    padding:77px 0;
    background-color:$bg-highlight;

    h2{
        @include h1;
        line-height:1.25;
        color:$text-light;
        margin:88px 10px 10px 58px;
        position:relative;

        //line
        &:before{
            content:'';
            width:81px;
            height:6px;
            background-color: $secondary;
            position:absolute;
            right:calc(100% + 12px);
            top:0.6em;
            border-radius:20px;
        }

    }
}

.testimonial-section__content{
    display:flex;

    h2{
        order:2;
    }
}

.testimonial-section__slider-container{
    flex:0 0 57.2%;
}

.testimonial-section__slider{
    padding:50px 48px 17px;
    background-color:$bg-white;
    border-radius:20px;
    position:relative;

    .carousel-control-prev,
    .carousel-control-next{
        background-color:$bg-white;
        border:2px solid $secondary;
        border-radius:50%;
        opacity:1;
        position:absolute;
        top:inherit;
        left:inherit;
        right:106px;
        bottom:46px;
        width:48px;
        height:48px;

        i{
            color:$secondary;
        }
    }

    .carousel-control-prev{
        right:calc(106px + 48px + 48px);
    }
}