.testimonial-section{
    padding:77px 0;
    background-color:$bg-highlight;

    h2{
        @include h1;
        line-height:1.25;
        color:$text-light;
        margin:88px 10px 10px 58px;
        position:relative;
        z-index:1;

        @include sp{
            display:inline;
            font-size:28px;
            line-height:1.219;
            margin:0;
        }

        //line
        &:before{
            content:'';
            width:81px;
            height:6px;
            background-color: $secondary;
            position:absolute;
            right:calc(100% + 12px);
            top:0.6em;
            border-radius:20px;

            @include sp{
                width:100px;
                height:3px;                
                left:inherit;
                top:inherit;
                left:calc(100% + 15px);
                bottom:13px;                
            }
        }

    }
}

.testimonial-section__content{
    display:flex;

    @include sp{
        display:block;
    }
}

.testimonial-section__heading{
    order:2;

    @include sp{
        padding:0 20px;
        overflow:hidden;
    }
}

.testimonial-section__slider-container{
    flex:0 0 57.2%;

    @include sp{
        margin-top:20px;
    }
}

.testimonial-section__slider{
    padding:50px 48px 17px;
    background-color:$bg-white;
    border-radius:20px;
    position:relative;

    @include sp{
        padding:50px 20px 17px;
    }

    .carousel-control-prev,
    .carousel-control-next{
        background-color:$bg-white;
        border:2px solid $secondary;
        border-radius:50%;
        opacity:1;
        position:absolute;
        top:inherit;
        left:inherit;
        right:106px;
        bottom:46px;
        width:48px;
        height:48px;
        transition:
            background-color 0.25s ease-out,
            border-color 0.25s ease-out;

        @include sp{
            position:relative;
            display:inline-flex;
            right:inherit;
            left:50%;
            bottom:0;
        }

        i{
            color:$secondary;
            transition:transform 0.25s ease-out;
        }
    }

    .carousel-control-next{
        @include sp{
            transform:translateX(calc(-50% - 52px + 48px));
        }

        &:hover{
            background-color:$primary;
            border-color:transparent;

            i {
                color:$bg-white;
                transform:translateX(2px);
            }
        }
    }

    .carousel-control-prev{
        right:calc(106px + 48px + 48px);

        @include sp{
            right:inherit;
            transform:translateX(calc(-50% - 48px));
        }

        &:hover{
            background-color:$primary;
            border-color:transparent;

            i {
                color:$bg-white;
                transform:translateX(-2px);
            }
        }
    }
}