// Responsive font sizing
html {
    font-size: 16px;
}

// Sets font size to 16px on form elements to prevent input zoom on mobile devices
@include media-breakpoint-down(sm) {
    .form-control {
        font-size: $font-size-base * 1.075;
    }
}

// Global

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: $font-family-base;
    -webkit-overflow-scrolling: touch;
    line-height:1.715;
}

.small, small {
    font-size: 90%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    line-height:1.715;
}

@mixin h1{
    font-size:50px;
    font-weight:$medium;    
}
.h1, h1{
    @include h1;
}

@mixin h2{
    font-size:30px;
    font-weight:$bold;    
}
.h2, h2{
    @include h2;
}

.h3, h3{
    font-size:20px;
    font-weight:$bold;
}

.spaced-list {
    padding: 0 0 0 22px;
}

.spaced-list li {
    margin-bottom: .5rem;
}

.lead strong {
    font-weight: 600;
}

.text-md {
    font-size: 90%;
}

.list-unstyled li {
    padding-bottom: .25rem;

    &:last-of-type {
        padding-bottom: 0;
    }
}

.list-unstyled {
    margin-bottom: 1rem;
}

@mixin sub-text{
    font-size:20px;
    font-weight:$semibold;
}
.sub-text{
    @include sub-text;
}


@mixin body-text{
    font-size:16px;
    font-weight:$regular;
}
.body-text{
    @include body-text;
}

@mixin body-text-semi{
    font-size:16px;
    font-weight:$semibold;
}
.body-text-semi{
    @include body-text-semi;
}